obj
AndroidManifest.xml
R.java
src/main/java/org/mozilla/gecko/AppConstants.java
res/values/strings.xml
.DS_Store
.metadata
*.pyc
*~
.*.sw?
.sw?
*.jar
*.class
target
local.properties
bin
gen
.settings
.vagrant
puppet/modules/data/files/*.tgz
puppet/modules/data/files/*.zip
puppet/modules/data/files/*.tar.gz
*.apk
/*.htm*
docs/*.htm*
preprocess.ini
lint
