obj
libs
AndroidManifest.xml
R.java
src/main/java/org/mozilla/gecko/AppConstants.java
src/main/java/org/mozilla/gecko/SysInfo.java
src/main/java/org/mozilla/gecko/background/announcements/AnnouncementsConstants.java
src/main/java/org/mozilla/gecko/background/common/GlobalConstants.java
src/main/java/org/mozilla/gecko/background/healthreport/HealthReportConstants.java
src/main/java/org/mozilla/gecko/fxa/FxAccountConstants.java
src/main/java/org/mozilla/gecko/sync/SyncConstants.java
res/values/strings.xml
.DS_Store
.metadata
*.pyc
*~
.*.sw?
.sw?
*.jar
*.class
target
local.properties
bin
gen
.settings
.vagrant
puppet/modules/data/files/*.tgz
puppet/modules/data/files/*.zip
puppet/modules/data/files/*.tar.gz
*.apk
/*.htm*
docs/*.htm*
preprocess.ini
