AndroidManifest.xml
src/main/java/org/mozilla/gecko/sync/repositories/android/Authorities.java
res/values/strings.xml
.metadata
*.pyc
*~
.*.sw?
.sw?
*.jar
*.class
target
.project
.classpath
local.properties
bin
gen
.settings
