#filter substitution
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE resources [

<!-- For standalone running. -->
<!ENTITY brandShortName "Firefox">

<!-- Sync strings. -->
#include sync_strings.dtd.in

<!-- Profile-in-the-Cloud strings. -->
#include picl_strings.dtd.in

<!-- Fennec strings. -->
#include android_strings.dtd
]>
<resources>
#include strings.xml.in
#include picl_strings.xml.in
</resources>
